// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: #ffffff;
    .hotel-card {
        background: #ffffffff;
        margin: 18px 0;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
    .star-content {
        width: 10px;
        display: inline-block;
    }
}
